.to-do-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.to-do-list__title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.to-do-list__list {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
}

.to-do-list__to-do,
.to-do-list__in-progress,
.to-do-list__complete {
  border: solid;
  border-width: 5px;
  border-color: red;
  border-radius: 15px;
  padding: 10px;
  background-color: #90d0e9;
  width: 200px;
}

.to-do-list__to-do-heading,
.to-do-list__in-progress-heading,
.to-do-list__complete-heading {
  font-size: 1.2rem;
  font-weight: 500;
}

.list-item__button {
  margin-left: 5px;
}