.to-do-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.to-do-list__title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.to-do-list__list {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 15px;
  height: 100%;
}

.to-do-list__to-do,
.to-do-list__in-progress,
.to-do-list__complete {
  border: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 15px;
  padding: 10px;
  background-color: #90d0e9;
  width: 200px;
  overflow-y: auto;
  inline-size: 180px;
}

.to-do-list__to-do-heading,
.to-do-list__in-progress-heading,
.to-do-list__complete-heading {
  font-size: 1.2rem;
  font-weight: 500;
}

.to-do-list__to-do-listing,
.to-do-list__in-progress-listing,
.to-do-list__complete-listing {
  width: inherit;
}

.list-item {
  display: grid;
  grid-template-columns: 160px 20px;
  overflow-wrap: break-word;
  width: inherit;
}

.list-item__text {
  grid-column-start: 1;
  grid-column-end: 2;
}

.list-item__button {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 25px;
  align-self: center;
}